@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
      #main-footer {
        width: 100%;
        background-color: #375d75;
      }
      #footer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(auto, auto);
        gap: 20px;
      }
      #col-1 {
        margin-top: 35px;
        /* border: 2px solid red; */
        display: inline-block;
        line-break: 0;
        justify-content: center;
        align-items: center;
        font-family: "Mukta", sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 0;
        text-align: center;
        color: white;
      }
      /* #col-1>div>img{
        border: 1px solid rgb(5, 231, 248);
        width: 100%;
    } */
      .cols {
        margin-top: 35px;
        /* border: 2px solid red; */
        align-items: center;
        font-family: "Mukta", sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-align: left;
      }
      .cols > h2 {
        font-size: 26px;
        text-align: center;
        color: white;
      }
      .cols > a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        line-height: 2;
        font-size: 22px;
        justify-content: flex-start;
      }
      #foot-line {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 300;
        line-height: 26.4px;
        color: white;
        text-align: left;
        word-spacing: 0px;
        text-align: center;
        font-family: "Mukta", sans-serif;
        letter-spacing: 0.8px;
        word-spacing: 2px;
      }
      #foot-line>a{
        color: white;
      }