@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}   */
    
#navbar {
        width: 100%;
        height: 120px;
        display: flex;
        line-height: 23px;
        position:relative; 
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      #navlogo {
        width: 12%;
        height: 70px;
        margin: auto;
        align-items: center;
        padding: 15px;
      }
      #navbar > #navpages {
        width: 60%;
        height: 90px;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: space-around;
      }
      .navlink {
        font-size: 18px;
        color: #3b8fc2;
        font-size: 24px;
        font-family: "Mukta", sans-serif;
        font-weight: 500;
      }
      .nav-a {
        text-decoration: none;
        color: #3b8fc2;
      }
      #navbtn1{
        background-color:  #3B8FC2;
        font-size: 24px;
        font-family: "Mukta", sans-serif;
        font-weight: 500;
        border: 1px solid  #2CB1F0;
        display: block;
        border-radius: 5px;
        cursor: pointer;
        transform: matrix(1, 0, 0, 1, 0, 0);
        transition: background-color (0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s);
        padding: 10px;
      }
      #navbtn1>a{
        
        text-decoration: none;
        color: white;
      }