@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

*{
    margin: 0;
    padding: 0;
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
.backgroundColorBody{
    background: #f3f5f7;
}
#topDiv{
    width: 100%;
    height: 265px;
    box-sizing: border-box;
    padding: 5px 180px;
    background-color: #3B8FC2;
  
    

}
#mainflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
#mainflex>a,i{
    margin-top: 15px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
#mainflex>a:hover{
    color: rgb(235, 233, 233);
}
#mainflex>img{
    width: 170px;
    height: 35px;
    margin-top: 16px;
}
#nad{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
}
#nad>input{
    display: block;
    margin: auto;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 32px 21px 59px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%);
    transition: background .4s, box-shadow .2s;
}

#nad>input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
#mainflex+h1{
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 27px;
    color: inherit;
    line-height: 1.24;
    margin-top: 20px;
    color: white;
}


/* Body */


#bodyDivPar{
    /* border: 1px solid red; */
    
    width: 100%;
    height: auto;
    margin: auto;
    padding: 40px 0px;
    background: #f3f5f7;
    cursor: none;
}
.bodyDivPar1{
    width: 73%;
    height: 180px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.sideIcons{
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 18%;
    height: 100%;
    padding: 50px 20px;
}
.sideIcons>img{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
}
.iconrightSide{
    /* border: 1px solid red; */
    width: 80%;
    height: 100%;
    padding: 25px 15px;
    box-sizing: border-box;
    
    
}
a{
    text-decoration: none;
}
.helpH2Tah{
    color: #3B8FC2;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.24;
    font-weight: 400;
}
.helppTage{
    color: rgb(102, 102, 102);
}
.helpFlextag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 1px solid red; */
    width: 85%;
    height: 48px;


}
.helpFlextag>div:nth-child(1){
    /* border: 1px solid red; */
    width: 15%;
    height: 100%;    
}
.helpFlextag>div:nth-child(2){
    /* border: 1px solid red; */
    width: 85%;
    height: 100%;
}
.helpImage>img{
    width: 45%;
    height: 100%;
    border-radius: 50%;
    display: block;
    
}
.helpPtagsforBox>p{
   /* margin-left: -50px; */
color: #4f5e6b;
font-size:13px ;
line-height: 1.4;
}











/* Bottom */









#bottommyHour{
    height: 250px;
    width: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 45px 250px;
    background: rgb(235, 235, 235);
    /* margin-top: 45px; */
}
#bottommyHour>img{
    
    display: block;
    margin: auto;
    height: 15px;
    height: 40px;
    
}
#gotohomepage{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 50%;
    height: 25px;
    margin-top: 25px;

}
.gotohomePara>a{
    color: #909aa5;
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-weight: 500;
}
#socialmedia{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 8%;
    height: 25px;
}
#socialmedia>p{
    /* text-align: center; */
    font-size: 20px;
    text-align: center;
    color: black;
}
