#parent{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}
#sidebar{
    width: 15%;
    height: 1000px;
    border: 1px solid;
}
#rightside{
    /* border: 1px solid; */
    width: 85%;
}

#maindiv{
    width: 45%;
    margin: auto;
    /* border: 1px solid; */
    font-family: 'Inter', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}
#toolbar{
    width: 90.5%;
    height:43px;
    border: 1px solid gray;
}
#card1 > button{
    width: 100px;
    font-size: 15px;
    padding: 8px;
    border-radius: 3px;
    border: none;
    background-color: #a6ddff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
}
#card1 > button:first-child{
    margin-right: -10px;
    background-color: #8ccff9;
}
#card1 > button:hover {
    background-color:#66a7cf;
}


.card2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card2 > div{
    width: 50%;
}
.card2 > div > input{
    width: 93%;
    height: 27px;
}
input{
    width: 97%;
    height: 28px;
}

::placeholder{
    font-size: 17px;
    color:rgb(203, 202, 202);
}

label{
    font-size: 12px;
    font-weight: 550;
    color: gray;
}

.card3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card3 > div{
    width: 31%;
}
.card3 > div > input{
    width: 96%;
    height: 27px;
}

#card4 > button{
    width: 100px;
    font-size: 15px;
    padding: 8px;
    border-radius: 3px;
    border: none;
    background-color: #a6ddff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
}
#card4 > button:first-child{
    margin-right: -10px;
    background-color: #8ccff9;
}
#card4 > button:hover {
    background-color:#66a7cf;
}
#btn5{
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #9fd8fc;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

table{
    width: 100%;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 20px;
}

hr{
    border-top: 1px solid rgb(196, 196, 196);
    width: 100%;
}

input{
    border: 1px solid rgb(184, 184, 184);
}

#country{
    width: 98%;
    height: 35px;
    margin-bottom: 20px ;
}

.newdiv{
    width: 250px;
    display: flex;
}
.newdiv > button{
    padding: 3px 10px;
    font-size: 15px;
    background-color: #a6ddff;
    border:#8ccff9;
    cursor: pointer;
}


/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
/* #body-cont{
    width: 100%;
    display: flex;
} */
/* #right-cont{
    border: 1px solid red;
    width: 100%;
} */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
#sideBar{
    width: 14rem;
    height: auto;
    background-color: #f8f9fa;
}
/* //////////////////////////////////////////// */


#img-fr-sb{
    height: 615px;
    width: 100%;
    display: grid;
    grid-template-columns: 11.3% 60%;
    gap: 6%;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    /* margin: auto; */
    /* margin-top: 60px; */
}
#img-fr-sb> img{
    width: 100%;
}
#img-fr-sb{
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    width: 100%;
    height: 68.16px;
}
#to-scroll{
    height: 550px;
    overflow: auto;
    background-color: #f8f9fa;
}
/* #sidebarBox>img{
    width: 100%;
    display: block;
    margin: auto;
    height: 30px;
    padding: 25px 0px;
} */
#sidebarBox>h2{
    text-align: center;
    font-size: 2em;
    color: #375d75;
    margin-bottom: 25px;
}
#sidebarBox{
    box-sizing: border-box;
}
#accmainbox{
    height: auto;
    width: 100%;
    margin: auto;
    
    background-color: #f8f9fa;
}
.mainaccordin{
    width: 100%;
    background-color: #f8f9fa;
}
.mainaccordin .conBoxes{
    position: relative;
    margin: 10px 5px;
    background-color: #f8f9fa;
}
.mainaccordin, .conBoxes, .labelbox{
    position: relative;
    background-color: #ffffff;
    cursor: pointer;
    color: black;
    
    background-color: #f8f9fa;
}

.mainaccordin .conBoxes .parainsideatag{
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    margin-left: 25px;
}
.mainaccordin .conBoxes.active .parainsideatag{
height: auto;

}

.fb-aws-n-tx{
    color: #375d75;
    text-decoration: none;
}
.t-p-h-a{
    margin-bottom: 6.5px;
}

.labelbox>img{
    width:10px;
    height: 10px;
}
.labelbox{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.parainsideatag>p{
    font-size: 15px;
    line-height: 20px;
    background-color: #f8f9fa;
    display: block;
    padding: 0.5rem 1rem;
}
.parainsideatag>p>a{
    text-decoration: none;
    color: #375d75;
    font-size: 85%;
}

.mainaccordin{
display: block;
}

#protrailexpire{
    /* height: 150px; */
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #dceefa;
    color: #375d75;
    margin-bottom: 0.5rem
}
#protrailexpire>p{
    
    padding-bottom: 0.25rem;
}
#protrailexpire>a{
    width: 100%;
    font-weight: 600;
    font-size: 18.5px;
    text-decoration: none;
    color: #375d75;
}
#protrailexpire>a:hover{
    text-decoration: 1px underline;
}
#helpApps{
    margin-left: 10px;
}
#helpApps>p>a{
    
    color: #536d69;
    text-decoration: none;
    line-height: 30px;
    
}
.labelbox>span+img{
    margin-left: 4rem;
}
#team-arrow-img{
    margin-left: 4.4rem;
}
#p-n-img-log{
    margin-left: 0.5rem;
}
.m-p-z-f-p{
    padding-left: 0;
    padding-right: 0;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
#sideBar{
    width: 14rem;
    height: auto;
    background-color: #f8f9fa;
}



#img-fr-sb{
    height: 615px;
    width: 100%;
    display: grid;
    grid-template-columns: 11.3% 60%;
    gap: 6%;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    /* margin: auto; */
    /* margin-top: 60px; */
}
#img-fr-sb> img{
    width: 100%;
}
#img-fr-sb{
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    width: 100%;
    height: 68.16px;
}
#to-scroll{
    height: 550px;
    overflow: auto;
    background-color: #f8f9fa;
}

#sidebarBox>h2{
    text-align: center;
    font-size: 2em;
    color: #375d75;
    margin-bottom: 25px;
}
#sidebarBox{
    box-sizing: border-box;
}
#accmainbox{
    height: auto;
    width: 100%;
    margin: auto;
    
    background-color: #f8f9fa;
}
.mainaccordin{
    width: 100%;
    background-color: #f8f9fa;
}
.mainaccordin .conBoxes{
    position: relative;
    margin: 10px 5px;
    background-color: #f8f9fa;
}
.mainaccordin, .conBoxes, .labelbox{
    position: relative;
    background-color: #ffffff;
    cursor: pointer;
    color: black;
    
    background-color: #f8f9fa;
}

.mainaccordin .conBoxes .parainsideatag{
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    margin-left: 25px;
}
.mainaccordin .conBoxes.active .parainsideatag{
height: auto;

}

.fb-aws-n-tx{
    color: #375d75;
    text-decoration: none;
}
.t-p-h-a{
    margin-bottom: 6.5px;
}

.labelbox>img{
    width:10px;
    height: 10px;
}
.labelbox{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.parainsideatag>p{
    font-size: 15px;
    line-height: 20px;
    background-color: #f8f9fa;
    display: block;
    padding: 0.5rem 1rem;
}
.parainsideatag>p>a{
    text-decoration: none;
    color: #375d75;
    font-size: 85%;
}
.mainaccordin{
/* height: auto; */
display: block;

    /* background-color: #50f5d9; */
}
#protrailexpire{
    /* height: 150px; */
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #dceefa;
    color: #375d75;
    margin-bottom: 0.5rem
}
#protrailexpire>p{
    
    padding-bottom: 0.25rem;
}
#protrailexpire>a{
    width: 100%;
    font-weight: 600;
    font-size: 18.5px;
    text-decoration: none;
    color: #375d75;
}
#protrailexpire>a:hover{
    text-decoration: 1px underline;
}
#helpApps{
    margin-left: 10px;
}
#helpApps>p>a{
    
    color: #536d69;
    text-decoration: none;
    line-height: 30px;
    
}
.labelbox>span+img{
    margin-left: 4rem;
}
#team-arrow-img{
    margin-left: 4.4rem;
}
#p-n-img-log{
    margin-left: 0.5rem;
}
.m-p-z-f-p{
    padding-left: 0;
    padding-right: 0;
}