#parent{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between; 
}
#sidebar{
    width: 15%;
    height: 1000px;
    border: 1px solid;
}
#main{
    width: 80%;
    font-family: 'Inter', sans-serif;
    margin-right: 30px;
    margin-top: 15px;
   
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.right_p_body, .pj_inner_div{
    border: 1px solid red;
    padding: 2rem;
    padding-bottom: 5rem;
}
.head_pj{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.prj{
    font-size: 37.5px;
    font-weight: 540;
    color: #212529;
}
.ad_nw_pj{
    padding: 9.625px 11.25px;
    font-size: 15px;
    color: #fff;
    background-color: #3b8fc2;
    border-color: #3b8fc2;
    border-radius: 0.25rem;
    border: 1px solid transparent;
}
.org_pra{
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    background-color: #f9fafb;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-color: #dceefa;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.org_card{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.text_dark{
    color: #375d75;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.text_subpara{
    color: #687481;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
 }
.mt4{
    margin-top: 1.5rem;
}
.mt4>a{
    margin-right: 3rem;
    color: #3b8fc2;
    text-decoration: none;
}
.mt4>a:hover{
    text-decoration: underline;
}
.d-flex{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 35.75px;
}
.srch_actv, .export_grp{
    display: flex;
}
 .inp_div{
    width: 19rem;
    margin-right: 1rem;
}
#input_search{
    width: 100%;
    padding: 0.375rem 0.75rem;
    height: 100%;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
}
::placeholder{
    color: #c6c7c9;
    font-size: 1rem;
}
.active_btn{
    width: 7.5rem
}
#button_active{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    color: #3b8fc2;
    border-color: #3b8fc2;
    font-size: 1rem;
}
.projectsExportBtn{
    color: #3b8fc2;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid transparent;
}
#grp_cl_btn{
    height: 100%;
    color: #3b8fc2;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    border: 0;
}
#pj_cont{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}
hr{
    border-top: 2.5px solid rgb(196, 196, 196);
    width: 100%;
}
table{
    width: 100%;
    text-align: left;
    color: rgb(151, 151, 151);
    font-weight: lighter;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
}

hr{
    border-top: 2px solid rgb(196, 196, 196);
    width: 100%;
}
.cb1{
    width: 5px;
}
.cb2{
    width: 12px;
    height: 12px;
<<<<<<< HEAD
    margin-right: 20px;
}
.cb2:checked{
    background-color: #3e9fdc;
    cursor: '\f062';
}
=======
    /* margin-right: 20px; */
}
.cb2:checked{
    background-color: #3e9fdc;
}


>>>>>>> main
