*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 14rem auto;
  gap: 10px;
}
#right-lay{
  font-family: sans-serif;
  width: auto;
  /* border: 1px solid rgb(134, 163, 60); */
  display: block;
  padding: 2rem 11rem;
}
#date-picker {
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
}
form {
  width: 60%;
  /* border: 2px solid greenyellow; */
}
h2 {
  display: inline;
}
.fa {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#wrapper {
  width: 40%;
  /* border: 2px solid sandybrown; */
  display: flex;
  gap: 10px;
}
#button-start {
  width: 90px;
  border: 2px solid red;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 20px;
  align-items: center;
  background-color: white;
  border-color: #29b850;
  border-radius: 4px;
  color: #29b850;
  font-weight: 400;
  justify-content: center;
}
#resetBtn {
  width: 90px;
  border: 2px solid rgb(243, 158, 40);
  background-color: transparent;
  font-family: sans-serif;
  font-size: 20px;
  align-items: center;
  background-color: white;
  border-color: rgb(243, 158, 40);
  border-radius: 4px;
  color: #e90707;
  font-weight: 400;
  justify-content: center;
}
#seconds {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}
span {
  content: "\2606";
}
#log-body {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.btn-log {
  background-color: rgb(246, 246, 246);
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border-color: transparent;
}
.add-body {
  display: flex;
  justify-content: space-between;
}
#add {
  width: 100%;
  background-color: rgb(246, 246, 246);
  border-color: transparent;
  font-size: 18px;
  /* margin-left: 25px; */
}
#add-time {
  font-size: 18px;
  margin-right: 25px;
}
#home {
  /* border: 1px solid black; */
  display: inline;
}
#lol {
  align-items: center;
  justify-content: center;
  display: grid;
}
#lol > textarea {
  margin-top: 5px;
  border-color: transparent;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
#lapBtn {
  background-color: #29b850;
  color: white;
  border-radius: 5px;
  border-color: #29b850;
  font-size: 15px;
  padding: 5px;
  font-weight: 400;
  font-family: sans-serif;
}
.lap {
  color: #29b850;
  font-size: 18px;
  font-family: sans-serif;
}

.org_pra {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  background-color: #f9fafb;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-color: #dceefa;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.org_card {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.text_dark {
  color: #375d75;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.text_subpara {
  color: #687481;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}

.mt4 {
  margin-top: 1.5rem;
}

.mt4 > a {
  margin-right: 3rem;
  color: #3b8fc2;
  text-decoration: none;
}
.mt4 > a:hover {
  text-decoration: underline;
}

/* @media (min-width: 720px) and (max-width: 950px) {
    .body_content{
        max-width: 80%;
        padding: 2rem;
    }
}
@media (min-width: 350px) and (max-width: 719px) {
    .body_content{
        max-width: 80%;
        padding: 2rem;
    }
} */