*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
#padd_cont{
    margin-top: 65px;
    display: block;
    display: flex;
}
.container_form{
    height: 73vh;
    width: 482px;
    display: block;
    margin: auto;
    padding: 1rem 3rem 2rem 3rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%)
}
#next_cont_form{
    height: 118vh;
}
#form_signup{
    width: 100%;
}
#myhours_logo{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 12.5rem;
}
#signup_fieldset{
    border: 0px;
}
#welcome_text{
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.75rem;
    color: #212529;
    font-weight: 500;
}
.details_label{
    margin-bottom: 1rem;
    display: grid;
}
.label_in_gray{
    color: #6c757d;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0.5rem;
}
.details{
    color: #6C757D;
    font-size: 11.25px;
    font-weight: bolder;
}
#signup_password{
    margin-bottom: 7px;
}
.input_box{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 5.625px 11.25px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 0.2rem;
}
::placeholder{
    color: #CED4DA;
}

#email{
    margin-bottom: 5px;
}

#next_button{
    color: #fff;
    background-color: #3b8fc2;
    border-color: #3b8fc2;
    font-weight: 400;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: 0.475rem 0.8rem;
    font-size: 15px;

}:disabled{
    opacity: 0.65;
}

#signup-p1-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#rst_ps{
    height: 100%;
    color: #3b8fc2;
    text-decoration: none;
}
#rst_ps:hover{
    text-decoration: underline;
    cursor: pointer;
}
#hr_line_login{
    width: 100%;
    border-bottom:0.1rem solid lightgray;
    margin-bottom: 15px;
}


#terms{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #212529;
}
#terms>a{
    color: #3b8fc2;
    text-decoration: none;
}
#terms>a:hover{
    text-decoration: underline;
    cursor: pointer;
}