*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
#padd_cont{
    margin-top: 90px;
    display: block;
    display: flex;
}
.container_form{
    height: 100vh;
    width: 560px;
    display: block;
    margin: auto;
    padding: 1rem 3rem 2rem 3rem;
    box-shadow: 0 0.15rem 0.5rem rgb(0 0 0 / 15%)
}
#next_cont_form{
    height: 118vh;
}
#form_signup{
    width: 100%;
}
#myhours_logo{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 10rem;
}
#signup_fieldset{
    border: 0px;
}
#welcome_text{
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.75rem;
    color: #212529;
}
.details_label{
    margin-bottom: 1rem;
    display: grid;
}
.label_in_gray{
    color: #6c757d;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0.5rem;
}
.details{
    color: #212529;
    font-size: 12px;
    font-weight: bolder;
}
#signup_password{
    margin-bottom: 7px;
}
.input_box{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 5.625px 11.25px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 0.2rem;
}
#terms{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #212529;
}
#terms>a{
    color: #3b8fc2;
}
#signup-p1-btn{
    display: flex;
    justify-content: center;
}
#next_button{
    color: #fff;
    background-color: #3b8fc2;
    border-color: #3b8fc2;
    font-weight: 400;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    margin-top: 2rem;
    padding: 0.575rem 1rem;


}:disabled{
    opacity: 0.65;
}
#two_circles{
    width: 100%;
    display: flex;
    height: 14.2px;
    margin-top: 20px;
    justify-content: center;
    gap: 8px;
}
#two_circles span{
    width: 14px;
    height: 100%;
    border: 1px solid #3b8fc2;
    border-radius: 50%;
}
#circle_field1{
    background-color: #3b8fc2;
}
#circle_unfield2{
    background-color: #3b8fc2;
}

#spica{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    height: 23px;
    margin-bottom: 20px;
}
/* .div_comp_span{
    
} */
.comp_span{
    margin-bottom: 10px;
}
#country{
    color: #495057;
}
#signup_p2_back{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#signup_p2_back>span>a{
    text-decoration: none;
    color: #3b8fc2;
}
#signup_p2_back>span>a:hover{
    text-decoration: underline;
}

#size_select{
    display: flex;
    gap: 5px;

}
#size_select>span{
    font-size: 15px;
    width: auto;
    padding: 5.625px 11.25px;
    background-color: #eaf3f9;
    color: #567385;
    cursor: pointer;
}

#size_select>span:nth-child(1):hover{
    background-color: #c2dcee;
}
#size_select>span:nth-child(2):hover{
    background-color: #c2dcee;
}
#size_select>span:nth-child(3):hover{
    background-color: #c2dcee;
}
#size_select>span:nth-child(4):hover{
    background-color: #c2dcee;
}
#size_select>span:nth-child(5):hover{
    background-color: #c2dcee;
}
.signup_p2_mob{
    margin-top: 20px;
}