/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Heading */


*{
    padding: 0px;
    margin: 0px;
    font-family: "Mukta", sans-serif;
}
#Pickyourplan{
    width:80%;
    height: 900px;
    /* border: 1px solid red; */
    margin: auto;
}
#Pick{
    width: 100%;
    height: 25%;
    /* border:1px solid red; */
    margin: auto;
    text-align: center;
}
#Pick>h1{
    margin-bottom: 20px;
    font-family: "Mukta", sans-serif;
    color: #212529;
    font-size: 72px;
    font-weight: 10;
    text-align: center;
    
}
#Pick>h2{
    margin-bottom: 20px;
    font-family: 'Avenir Next',sans-serif;
    color: #375d75;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
#Free-Pro{
    width: 100%;
    height:70%;
    /* border:1px solid red; */
    margin-top: 5px;
    
}
#Free-Pro{
    display:flex ;
    justify-content: space-around;
}
#Free-Pro>div{
    /* border: 1px solid red; */
    height: 100%;
    width: 40%;
}

.Free-Pro1>h3{
    color: #212529;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 5%;
    /* font-family: "Mukta", sans-serif; */
}
.Free-Pro1>p{
    color: #212529;
    font-size: 1.2rem;
    font-weight: 500;
    width: 90%;
    font-weight: 600;
    margin-bottom: 8%;
}
.price>span{
    font-size: 40px;
    font-weight: 1;
    font-family: Avenirnextltpro,sans-serif;
}
.price{
    font-size: 80px;
    font-weight: 700;
    font-family: Avenirnextltpro,sans-serif;
    margin-bottom: 8%;
}
.listul{
    /* border: 1px solid red; */
    width: 60%;
    height: 30%;
}
.listul>ul{
    width: 120%;
    line-height: 40px;
}
.list{
    margin-left: 6%;
    margin-bottom: 20px;
    color: #212529;
    font-size: 18px;
}

.free-Pro-Button{
    display: block;
    /* margin: auto; */
    width: 100%;
    margin-top: 15%;
    padding:9px 31%;
    border-radius: 5px;
    border: 1px solid rgb(97, 105, 121);
    font-size: 17px;
}
.free-Pro-Button:hover{
    background-color: #3898ec;
    color: white;
    border: 0px;
}
#dollor>span{
    font-size: 40px;
    font-weight: 1;
}
#dollor{
    font-size: 80px;
    font-weight: 700;
    font-family: Avenirnextltpro,sans-serif;
    margin-bottom: 8%;
    /* border: 1px solid red; */
}
.price1{
    display: flex;
    
}
#dollor1>p{
    margin-bottom: 20px;
    margin-left: 40px;

}
#freelancers{
    width: 90%;   
}
.free-Pro-Button1{
    display: block;
    /* margin: auto; */
    margin-top: 15%;
    width: 100%;
    padding:9px 25%;
    border-radius: 5px;
    border: 1px solid #1f68a8;
    font-size: 17px;
    color: white;
    background-color:#1f68a8 ;
}
.free-Pro-Button1:hover{
    background-color:  #375d75;
    border: 1px solid #1f68a8;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Arrow Prts */
#topFreePaid{
    /* border: 1px solid red; */
    width: 73%;
    height: 45px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  #features{
    /* border: 1px solid red; */
    width: 70%;
    height: 99%;
    display: flex;
    align-items: center;
  }
  #free_paid{
    /* border: 1px solid red; */
    height: 99%;
    width: 18%;
  }
  #free_paid{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #free_paid>div{
    /* border: 1px solid red; */
    width: 50%;
    height: 99%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }










.table td {
    padding: 1rem 10px;
  }

  .table tr td:first-child {
    text-align: left;
    padding-left: 2rem;
  }

  .table .headings {
    background-color: rgb(235, 235, 235);
    font-weight: 500;
  }

  .table td {
    border-top: 1px solid rgb(243, 243, 243);
    font-size: 16px;
    font-weight: 250px;
  }

  .check {
    color: #000;
    border: solid currentColor;
    border-width: 0 2px 2px 0;
    width: 9px;
    height: 20px;
    transform-origin: 9px 10px;
    transform: rotateZ(45deg);
  }

  .abc {
    position: relative;
    display: inline-block;
    cursor: auto;
  }

  .acc {
    display: none;
    position: absolute;
    min-width: 200px;
    margin-top: -70px;
    margin-left: -80px;
    padding: 8px;
    border: 1px solid silver;
    background-color: #fff;
    font-size: 12px;
  }

  .abc:hover .acc {
    display: block;
  }

  .round {
    width: 16px;
    height: 16px;
    background-color: #c8c8c8;
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
    border-radius: 50px;
  }

  table {
    margin: auto;
  }

  .headings {
    font-weight: bold;
  }


/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Frequently Asked Questions */
/* //////////////////////////////////////////////////////////////////////////////////////////////// */

#faqs{
    border: 1px solid red;
    width: 85%;
    height: 500px;
    margin: auto;

}
#faqs>div{
    margin: auto;
}
 #faqs>h2{
    text-align: center;
}
.sleector{
    width: 80%;
} 
#selectfield{
    
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 1px solid red;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
#selectfield>img{
    width: 12px;
} 
#select_list{
    width: 100%;
    overflow: hidden;
}
.opt_list{
    width: 95%;
    margin-top: -15px;
    margin-left: 15px;
    line-height: 20px;
    padding: 15px;
    list-style: none;
    box-sizing: border-box;
}
.hideOption{
    visibility: hidden;
}










/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* I have tested similar time tracking apps but they all have limits */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

#lightblue{
    border: 1px solid rgb(200, 224, 238);
    width: 70%;
    height: 650px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(200, 224, 238);
}
#text1{

   
    width: 85%;
    height: 50%;
    margin: auto;
    margin-top: 5%;
    font-size: 45px;
    font-weight: 500;
}
#text2{
    width: 85%;
    height: 5%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#memberprice1{
    width: 85%;
    height: 150px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
#memberprice1>div{
    /* border: 1px solid red; */
    width: 20%;
    height: 100%;
    text-align: center;
}
.members{
    font-size: 10px;
    text-align: center;
    margin-top: 15%;
    color: #286296;
}
.memberPrice{
    font-size:60px;
    font-weight: 500;
    color: #286296;
}
.memberPriceSpan{
    font-size:60px;
    font-weight: 500;
    color: #3898ec;
}


/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* Have questions? We're here */
/* ///////////////////////////////////////////////////////////////////////////////////////// */


#howQuestion{
    width: 80%;
    height: 300px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    text-align: center;
    /* line-height: 35px; */
}
#howQuestion>h2{
    margin-top: 50px;
    margin-bottom: 20px;
}
#howQuestion>p{
    width: 60%;
    margin: auto;
    line-height: 25px;
    margin-bottom: 20px;
}
#howQuestion>p>a:last-child{
    gap: 20px;
}
#atages{
    width: 50%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
#atages>p>a:hover{
    text-decoration: none;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/*Waste no more time, jump right in! */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

#Waste-Need{
    width: 75%;
    /* border: 1px solid red; */
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#Waste{
    /* border: 1px solid red; */
    height: 90%;
    width: 50%;
    text-align: center;
    background-color: #e8edf1;
    border-radius: 5px;
}
#Waste>h2{
    padding:35px;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 5px;
    color: #375d75;
}
#its-free{
    /* border: 1px solid red; */
    width: 35%;
    height: 5%;
    margin: auto;
    padding: 16px 35px;
    font-weight:bold;
    background-color: #3b8fc2;
    border-radius: 5px;
    color: white;
    margin-bottom: 4%;
}
#anchordiv{
    text-decoration: none;
}
#anchordiv>div:hover{
    background-color: #375d75;
}
#paratag{
    font-size: 12px;
    width: 90%;
    margin: auto;
    line-height: 20px;
}
#paratag>a{
    font-family: "Mukta", sans-serif;
    color: #000;
    font-size:12px;
    font-weight: 400;
}

#Need{
    /* border: 1px solid red; */
    height: 70%;
    width: 35%;
    padding: 30px 45px;
    background-color: rgb(247, 245, 241);
    border-radius: 5px;
}
#Need>h2{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    /* padding: 0px 38px; */
}

#its-free1{
    /* border: 1px solid red;
    
    padding: 16px 35px;
    text-align: center;
    border-radius: 5px; */
    margin-top: 38px;
    width: 40%;
    border: 1px solid #375d75ed;
    height: 5%;
    padding: 19px 35px;
    font-weight:bold;
    border-radius: 5px;
    color: #375d75;
    margin-bottom: 4%;
}
#anchordiv1{
    
    text-decoration: none;
}
#anchordiv1>div:hover{
    background-color:#375d75;
    color: white;
}
#paratag1{
    font-size: 12px;
    width: 90%;
    margin: auto;
    line-height: 20px;
}
