#sideBar{
    width: 15%;
    height: auto;
    border: 1px solid red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* //////////////////////////////////////////// */


#sidebarBox{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    /* margin-top: 60px; */
}
#sidebarBox>img{
    display: block;
    margin: auto;
    height: 30px;
    padding: 25px 0px;
}
#sidebarBox>h2{
    text-align: center;
    font-size: 2em;
    color: #375d75;
    margin-bottom: 25px;
}
#sidebarBox{
    box-sizing: border-box;
}
#accmainbox{
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    margin: auto;
}
.mainaccordin{
    width: 100%;
}
.mainaccordin .conBoxes{
    position: relative;
    margin: 10px 5px;
}
.mainaccordin .conBoxes .labelbox{
    position: relative;
    padding: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.mainaccordin .conBoxes .parainsideatag{
    position: relative;

    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    margin-left: 25px;
}
.mainaccordin .conBoxes.active .parainsideatag{
height: auto;

}

.labelbox>img{
    width:10px;
    height: 10px;
}
.labelbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parainsideatag>p{
    font-size: 15px;
    line-height: 20px;
    background-color: #50f5d9;
    display: block;
}
.accmainbox{
    background-color: #50f5d9;
}
.mainaccordin{
/* height: auto; */
display: block;

    background-color: #50f5d9;
}
#protrailexpire{
    height: 150px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 15px;
    border: 1px solid rebeccapurple;
    background-color: rgb(200, 240, 250);
}
#protrailexpire>a{
    font-weight: 600;
    font-size: 21px;
    text-decoration: none;
}
#protrailexpire>a:hover{
    text-decoration: 1px underline;
}
#helpApps{
    margin-left: 10px;
}
#helpApps>p>a{
    
    color: #536d69;
    text-decoration: none;
    line-height: 30px;
    
}